:root{
    --primaryColor :  #28293E;
    --secondaryColor : #F3D1BF;
}
*{
    margin: 0;
    background-color: var(--primaryColor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Logo */
#component img{
    width: 486px;
    height: 189px;
}

/* Navigation */

#navbarNav ul li a{
    color: white;
    font-weight: 100;
}

/* Hero */

.heroContainer {
    padding-top: 60px;
    padding-bottom: 100px;
}
.heroText{
    font-family: Lora;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    z-index: 2;
    letter-spacing: 1px;
}

.heroSubText {
    padding-top: 35px;
    padding-bottom: 35px;
}

.btn-basic{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    width: 200px;
    height: 48px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--primaryColor);
}
.btn-basic:hover{
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
}

.btn-secondary{
    background-color: transparent !important;
    color: var(--secondaryColor);
    width: 200px;
    height: 48px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.imageBox {
    background-color: var(--secondaryColor);
    width: 300px;
    height: 500px;
    border-radius: 150px;
}

.imageBox img{
    width: 100%;    
}

/* Hero Background Designs */
.back-circle{
    width: 90%;
    left: 40%;
    top: 180px;
    position: relative;
    height: 113.061px;
    transform: rotate(-6.825deg);
    flex-shrink: 0;

    /* Border Properties */
    background: linear-gradient(var(--primaryColor) 0 0) padding-box, /*this is your grey background*/ 
                linear-gradient(90deg, rgb(91 97 86 / 80%) 25%, rgb(113 134 99 / 72%) 49%, rgb(160 160 233 / 62%) 72%, rgb(0 99 255 / 54%) 88%);
    border: 2px solid transparent;
    border-left-color: rgb(81 85 82);
    border-right-color: rgb(0 74 191 / 70%);
    border-radius: 50%;
}
.star{
    width: 1em;
    font-size: 10px;
    position: relative;
    margin: 1em auto;
    box-shadow: rgb(239 206 188) 0px 10px 30px 5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.star:before{
    content:"";
    position:absolute;
    background:var(--secondaryColor);
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.star:after{
    content:"";
    position:absolute;
    background:var(--secondaryColor);
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

.star-top {
    top: -20px;
    right: -60px;
}
.star-bottom {
    right: 92px;
    top: 82px;
}





/* About me */
#aboutMe {
    background-color: var(--secondaryColor);
    min-height: 300px;
}

/* Work */
#work {
    background-color: var(--primaryColor);
    min-height: 300px;
}

/* Contact me */
#contactMe {
    background-color: var(--secondaryColor);
    min-height: 300px;
}

/* Footer */
#footer{
    height: 84px;
    background-color: var(--primaryColor);
}
.conatiner-footer {
    color: white;
    padding-top: 30px;
}
/* Fonts */
.heading{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
    background-color: transparent;
    text-align: center;
    padding-top: 35px !important;
}
.primary-color{
    color: var(--primaryColor);
}
.secondary-color{
    color: var(--secondaryColor);
}